body {
	background-color: #171717;
	color: #f5f5f5;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
	padding: 5vh 3vw;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	margin: 0;
}

.top, .middle, .indicators {
	text-align: center;
}

input {
	background-color: transparent;
	border: none;
	padding: 0;
	outline: none;
	text-align: center;
	color: #f5f5f5;
}

.search-input {
	font-size: 72px;
	transition: opacity 0.5s ease;
}

.search-input::placeholder {
	color: #323232;
}

.search-clear, .spinner {
	opacity: 0;
	transition: opacity 0.5s ease;
}

.search-clear {
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.title {
	position: relative;
	z-index: 1;
}

.top,
.checker, 
.middle,
.indicators {
	display: grid;
	place-items: center;
}

.title,
.search-clear,
.search-input, 
.checker,
.spinner,
.search-hint {
	grid-area: 1/1;
}

.search-hint, 
.spinner,
.has-results .title {
	opacity: 0;
	transition: opacity 0.5s ease;

}

.show-hint .search-hint, 
.loading .spinner,
.has-results .search-clear {
	opacity: 1;
}

.loading .search-hint,
.has-results .search-input {
	opacity: 0;
}
