@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Roboto+Mono:wght@500&display=swap');

:root {
	--lightGreen: #E1EABD;
	--hyperBlue: #0000FF;
	--neonGreen: #BAF500;
	--cream: #FFF5CC;
	--black: #040404;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
	font-family: 'EB Garamond', serif;
	margin: 0;
}

p, input {
	font-family: 'Roboto Mono', monospace;
	font-style: normal;
	font-weight: 300;	
	margin: 0;
}

h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1em;
}

p {
	font-size: 0.75em;
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

.credits a:hover {
	background-color: var(--neonGreen); 
}

.emphasis {
	font-family: 'EB Garamond', serif;
	font-style: italic;
	font-size: 1em;
	margin: 0;
}

/* GENERAL */
body {
	background-color: var(--lightGreen);
	color: var(--black);
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-family: 'EB Garamond', serif;
	font-style: italic;
}

/* LEFT COL */
.col.credits {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1em 1.5em;
	color: var(--hyperBlue);
	width: 25%;
}

.credits .about {
	padding-bottom: 1em;
}


.top, .middle, .indicators {
	text-align: center;
}

/* MIDDLE COL */
.col.box {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container {
	width: 80%;
	height: 40%;
	border: 1px solid var(--black);
	z-index: 10;
}

input {
	background-color: transparent;
	border: none;
	padding: 0;
	outline: none;
	text-align: center;
	color: var(--black);
}

.search-input {
	transition: opacity 0.5s ease;
}

.search-input::placeholder {
	color: var(--black);
}

.search-clear, .spinner {
	opacity: 0;
	transition: opacity 0.5s ease;
}

.search-clear {
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.search-clear svg {
	stroke: #000;
}

.title {
	position: relative;
	z-index: 1;
}

.top,
.checker, 
.middle,
.indicators {
	display: grid;
	place-items: center;
}

.title,
.search-clear,
.search-input, 
.checker,
.spinner,
.search-hint {
	grid-area: 1/1;
}

.search-hint, 
.spinner,
.has-results .title {
	opacity: 0;
	transition: opacity 0.5s ease;

}

.show-hint .search-hint, 
.loading .spinner,
.has-results .search-clear {
	opacity: 1;
}

.loading .search-hint,
.has-results .search-input {
	opacity: 0;
}


/* RIGHT COL */
.col.visual {
	width: 25%;
}

.visual img {
	position: absolute;
	width: 300px;
	height: auto;
	bottom: 20%;
	right: 10%;
}

